doctype html 
html
  head
    title DZ classes
    block scripts
    block style 
  body
    nav#navbar
       div#logo
        span RDA 
       ul 
        li #[a(href='/') Home ]
        li #[a(href='/') About ]
        li #[a(href='/') Class Info ]
        li #[a(href='/') Servises ]
        li #[a(href='/contacts') Contact us]
    block content
    footer#footer 
      div#footerlogo
      span#rdas RDA
      span#copy Copyright&copy; 2023 | ThisisZahid | All Right Reserved;