doctype html 
html 
   head 
     title DZ classes
     style 
         include ../static/style.css 
   body 
    nav#navbar
       div#logo
       ul 
        li #[a(href='/') Home ]
        li #[a(href='/') About ]
        li #[a(href='/') Class Info ]
        li #[a(href='/') Servises ]
        li #[a(href='/') Contact us]
    section#introsect 
       h1  
        |Welcome To 
        span Rockstar
        |  Dance Academy
       p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem optio quasi cumque repellat quis, id dicta accusantium quaerat? Magnam modi quo a aliquam dolor porro incidunt cum culpa illum nesciunt!
    section#sponsors 
       | section for Sponsors 
    footer#footer 
       | this is footer

    script 
     include ../static/index.js 