*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
html,body{
    width: 100%;
    height: 600px;
    background-color: rgb(32, 32, 32);
    font-family: 'Wix Madefor Display', sans-serif;
}
h1{
    width: auto;
    padding: 20px;
    margin: 20px;
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
}
.super-main{
    /* background-color: rgb(59, 0, 0); */
}
.main{
    height: 550px;
    width: 350px;
    border-radius: 20px;
    /* background-color: burlywood; */
    /* background-image: url(/wallpaperflare.com_wallpaper.jpg);
    background-repeat: repeat;
    background-size: 700px; */
    background-image: url(https://img.freepik.com/free-photo/scratched-aluminum-texture-background_125540-937.jpg?w=740&t=st=1684063730~exp=1684064330~hmac=e84b4786c6adbd20cc7f4b45e6ff75c4501d0d0de47b37f275d06a26eb2580bc);
    background-repeat: repeat;
    /* border: 5px #D4AF37 solid; */
    border: 5px #575757 solid;
    box-shadow: 20px 20px 30px 1px rgb(0, 0, 0) , inset 10px 10px 30px 1px rgb(0, 0, 0);
}
.input{
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: whitesmoke;
    background-color: rgb(44, 44, 44);
    border-radius: 60px;
    border: 3px #D4AF37 solid;
    width: 330px;
    height: 70px;
    padding: 10px 30px;
    margin-bottom:40px ;
    box-shadow: 10px 15px 30px 3px rgb(0, 0, 0) , inset 10px 10px 40px 1px black;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);


}
.button{
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 25px;
    font-weight: 500;
    width: 70px;
    height: 70px;
    margin: 4px;
    padding: 10px;
    cursor: pointer;
    border-radius: 100%;
    border: 2px rgb(199, 198, 198) solid;
    box-shadow: 15px 15px 30px 10px rgb(0, 0, 0) , inset 0px 0px 20px 4px rgb(41, 41, 41);
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    transition: all .3s ease-in-out;
}
.button:hover{
    color: #D4AF37;
    border: 2px  #D4AF37 solid;
    box-shadow: 2px 2px 10px 3px #D4AF37 , inset 0px 0px 20px 4px rgb(41, 41, 41);
}
.large-button{
    width: 150px;
    border-radius: 40px;
}
.info{
    display: flex;
    justify-content: center;

}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 100%;
    margin: 30px;
    margin-top: 50px;
    border: 2px rgb(199, 198, 198) solid;
    box-shadow: 15px 15px 30px 10px rgb(0, 0, 0) , inset 0px 0px 20px 4px rgb(41, 41, 41);
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    transition: all .3s ease-in-out;
}

.logos img{
    height: 40px;
    width: 40px;
    filter:invert();
    margin: 15px;
}

footer{
    position:static;
    bottom: 0px;
    text-align: center;
    font-weight: 900;
    width: 100%;
    padding: 2px;
    background-color: rgb(53, 53, 53);
}

