@media screen and (max-width:767px) {
    .navbar ,footer{
        grid: auto-flow dense/ 1fr 1fr;
    }
    .navbar {
        display: flex;
        transition: all .5s;
    }
    #logo{
        height: 6rem;
        margin: 1rem;
        justify-self: start;
    }
    .navlist {
        display: none;
        flex-direction: column;
    }
    .rightnav{
        display: none;
    }
    .dispalychanger{
        display: flex;
    }
    .about-main {
        flex-direction: column;
        align-items: center;
        height: 40rem;
        padding: 1rem;
    }
    .about-main p {
        width: 100%;
        overflow: scroll;
        height: 50%;
    }
    .burger {
        display: inline-block;
    }
    .instagram {
        background-color: #dde1e7;
        display: flex;
        flex-direction: column;
        
    }
    .mapp {
        flex-direction: column;
    }
    .mapouter {
        height: 50vh;
        padding: 1.5rem;
    }
    .gmap_canvas {
        height: 40vh;
    }
    .address p , .about-main p{
        padding: 1rem;
    }
    footer {
        grid: auto-flow dense/ 1fr;
    }
    footer #logo {
        height: 10rem;
    }
    footer .address {
        display: none;
    }
    footer .navlist {
        display: flex;
        flex-direction: row;
    }
    footer .navlist li a span {
        display: none;
    }
    footer .navlist li {
        width: 3rem;
    }

}