  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
*{
  box-sizing: border-box;
  padding: 0;  
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
    transition: all .5s;

}
body{
    background-color: black;
}
.navbar ,footer{
    background-color: #dde1e7;
    width: 100%;
    display: grid;
    grid: auto-flow dense/ 1fr 1fr 1fr;
    
}
#logo{
    border-radius: 100%;
    height: 7rem;
    margin: 1rem;
    cursor: pointer;
    justify-self: start;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);

}
#logo:hover {
    box-shadow: -2px -2px 4px rgba(255,255,255,0.45), 2px 2px 4px rgba(94,104,121,0.3);
}
.navlist {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;

}
.navlist li {
    font-size: 1.11rem;
    font-weight: 700;
    width: 7rem;
    padding: .5rem;
    margin: .5rem;
    /* background-color: rgb(243 255 243); */
    background-color: #dde1e7;
    text-align: center;
    border-radius: 2rem;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}
.navlist li:hover {
    background-color: rgb(243 255 243);
    box-shadow: -2px -2px 4px rgba(255,255,255,0.45), 2px 2px 4px rgba(94,104,121,0.3);

}
.navlist li a{
    text-decoration: none;
    color: #396c00;
}
.rightnav {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-self: end;
    margin: 1.5rem;
}
.rightnav input {
    border: none;
    padding: .6rem;
    font-size: 1.1rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: #dde1e7;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
    outline: none;
    text-shadow: 5px 5px 9px rgba(94,104,121,0.3);
}
.rightnav input :active{
    box-shadow: inset -2px -2px 4px rgba(255,255,255,0.45), inset 2px 2px 4px rgba(94,104,121,0.3);
    outline: none;
}
.btn {
    border: none;
    padding: .3rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: #dde1e7;
    box-shadow:  -5px -5px 9px rgba(255,255,255,0.45),  5px 5px 9px rgba(94,104,121,0.3);
}
.btn:hover{
    background-color: rgb(243 255 243);
    box-shadow: -2px -2px 4px rgba(255,255,255,0.45), 2px 2px 4px rgba(94,104,121,0.3);
}

/* map  */
.mapp {
    display: flex;
    justify-content: center;

}
.mapouter{
    background-color: #dde1e7;
    text-align: right;
    width: 100%;
    height: 80vh;
    padding: 2rem;
    align-content: space-evenly;
    align-items: end;
    justify-items: center;

}
.gmap_canvas {
    overflow:hidden;background:none!important;
    width:100%;
    height:60vh;
    border-radius: 2rem;
    box-shadow:  -5px -5px 9px rgba(255, 255, 255, 0.692),  5px 5px 9px rgba(70, 76, 85, 0.5);
    outline: none;
}
.gmap_iframe {
    height:400px!important;
    
}
.address , .about {
    background-color:#dde1e7;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
}
.address h2 , #name{
    font-size: 2rem;
    font-weight: 900;
    margin: 1rem;
}
.address p , .about-main p{
    padding: 2rem;
}
#direction {
    padding: 1rem;
    margin: 2rem;
    background-color: #0084ff;
    border: none;
    border-radius: 2rem;
    box-shadow:  -5px -5px 9px rgba(255, 255, 255, 0.692),  5px 5px 9px rgba(70, 76, 85, 0.5);
    outline: none;
}
 #direction:hover{
    background-color:#0067c7;
    box-shadow:  -2px -2px 4px rgba(255, 255, 255, 0.692),  2px 2px 4px rgba(70, 76, 85, 0.5);
    outline: none;
}
 #direction a {
    color:#8bc7ff ;
    font-size: 1.2rem;
    text-decoration: none;
}
 #direction a:hover {
    color: white;
}

/* about  */
.profile {
    /* filter: drop-shadow(-5px -5px 9px rgb(230, 24, 24)); */

}

.about-main{
    display: flex;
    width: 80%;
    margin: 2rem;
    border-radius: 2rem;
    box-shadow:  -5px -5px 9px rgba(255, 255, 255, 0.692),  5px 5px 9px rgba(70, 76, 85, 0.5);
}
    .profile::before{
        content: "";
        width: 17rem;
        height: 17rem;
        border-radius: 100%;
         display: flex;
         justify-content: center;
         align-items: center;

        box-shadow:  -5px -5px 9px rgba(255, 255, 255, 0.692),  5px 5px 9px rgba(70, 76, 85, 0.5);
    }

.profile {
    height: 15rem;
    width: 15rem;
    margin: 2rem;
    border-radius: 100%;
    box-shadow:  -5px -5px 9px rgba(255, 255, 255, 0.692),  5px 5px 9px rgba(70, 76, 85, 0.5);
}
.about-main p {
    display: inline;
    width: 75%;
}


/* footer  */
footer {
    position: relative;
    bottom: 0;
    height: 60vh;
}
footer #logo {
    height: 15rem;
    align-self: center;
}
footer .navlist {
    flex-direction: column;
}
footer .navlist li {
    width: 12rem;
    height: 3rem;
    display: flex;
    justify-content: center;
}
footer .navlist li a{
   display: flex;
    align-items: center;
    width: 15rem;
    justify-content: space-evenly;
}