@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Rubik+Vinyl&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Changa', sans-serif;
}
body {
    background-color: black;
}
body::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
body::-webkit-scrollbar-track-piece{
    background-color: rgb(0 0 0);
    border-radius: 2rem;
}
body::-webkit-scrollbar-track{
    background-color: black;
    width: 10px;
    height: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: #490000;
    border-radius: 2rem;
    height: 30px;
}

/* Navbar */
#navbar {
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    /* position:fixed; */
}
#logo {
    background: center / cover no-repeat url("https://media.rockstargames.com/rockstargames-newsite/uploads/9f66b0ea8ba22711633d59703367d5daa37d2733.jpg");
    height: 120px;
    width: 120px;
    margin: 1rem;
}
#logo span {
    color: rgb(255, 0, 0);
    position: relative;
    font-size: 1.2rem;
    font-weight: 900;
    top: 100px;
    left: 42px;

}
#navbar ul{
    display: flex;
    justify-content: right;
    padding: 2rem;
}
#navbar li {
    list-style: none;
    width: 8.8rem;
    padding: .8rem;
    margin: 1.5rem .8rem;
    background-color: rgb(27, 27, 27);
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0px 0px 1px 1px rgb(82, 0, 0);
    transition: all .7s;

}
#navbar li:hover {
    background-color:rgb(133, 0, 0) ;
    box-shadow: 0px 0px 70px 20px rgb(82, 0, 0);

}
#navbar li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    cursor:pointer;
    padding: .8rem;
}

/* Intro section  */
#introsect {
    display: flex;
    align-items: center;
    height: 600px;
    width: 100%;
    color: white;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
#introsect::before {
    content: "";
    z-index: -1;
    height: 600px;
    width: 100%;
    background: center center / cover no-repeat url(https://cdn.pixabay.com/photo/2017/06/02/17/47/friendship-2366955_960_720.jpg);
    opacity: .6;
    filter: blur(3px);
    position: absolute;

}
#introsect h1 , p {
    text-align: center;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    line-height: 90%;
}
#introsect h1{
    font-size: 4rem;
    font-weight: 900;
}
#introsect h1 span {
    color: red;
}
#introsect p {
    font-size: 1.4rem;
    width: 800px;
}


/* missions */
#missions {
    background-color: rgb(0, 0, 0);
    z-index: -2;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 20px rgb(0, 0, 0);
    padding: 1rem;
}
#missions h1 , #sponsors h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    cursor: pointer;
    line-height: 90%;
}
#missions h1:hover {
    text-decoration: dashed;
}
.miss {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 2rem;

}
.miss h2 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    line-height: 80%;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);

}
.miss p {
    font-size: 1.2rem;
    color: white;
    width: 22rem;
    opacity: 0;
}
.miss1:hover p {
    opacity: 1;
}

.miss1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-items: center;
    /* border: 2px solid black; */
    width: 30%;
    text-align: center;
    border-radius: 2rem;
    border: 1px white solid;
    padding: 1rem;
    margin: 1rem;
    height: 300px;
    transition: all .5s;

}
.miss1:hover {
    box-shadow: 0px -80px 10px 1000px rgba(15, 15, 15, 0.781) inset , 0px 0px 100px 10px rgb(15, 15, 15) , 0px 0px 50px 10px rgb(34, 34, 34);
    width: 40%;
}
#submis1 {
    background:center center / cover no-repeat url(https://png.clipart.me/previews/246/dance-vector-salsa-dancing-25489.png);
}
#submis2{
    background:center center / cover no-repeat url(https://static.vecteezy.com/system/resources/thumbnails/000/167/028/small/tap_dance_DFM3-01.jpg);
}
#submis3{
    background:center center / cover no-repeat url(https://static.vecteezy.com/system/resources/previews/000/166/852/original/couple-dressed-in-1940s-fashion-dancing-a-tap-dance-vector-illustration.jpg);
}

/* sponsors */
#sponsors {
    height:auto;
    width: 100%;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
}
.spondiv {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
    padding:  2rem 1rem 1rem 2rem;
}
.spondiv img {
    height: 60px;
    padding-bottom: .8rem;
}


/* Footer */
#footer {
    background-color: rgb(0, 0, 0);
    color: white;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#footerlogo {
    background: center / cover no-repeat url("https://media.rockstargames.com/rockstargames-newsite/uploads/9f66b0ea8ba22711633d59703367d5daa37d2733.jpg");
    height: 400px;
    width: 400px;
}
#rdas {
    color: red;
    font-size: 22rem;
    font-family: 'Rubik Vinyl';
    font-weight: 900;
    position: relative;
    line-height: 1%;
    top: 53px;
    right: -8px;
    opacity: .1;
}
#copy {
    z-index: 1;
    font-size: 1.2rem;
}