*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

#main{
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
}
#logo{
    display: flex;
    background-image: url(https://www.krossbikes.in/media/wysiwyg/Auto-Show-Pacific-Mall-Dehradun/kross-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
    height: 100px;
    width: 150px;
}
#main button {
    align-self: flex-end;
    justify-self: flex-end;
    color: white;
    font-size: 15px;
    background-color: black;
    border: 2px white solid;
    padding: 20px;
    margin: 10px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}
#main button:hover{
    background-color: red;
    
}